<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="Console"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>
      <!-- ColoredConsole -->

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--TCP服务-->
    <target name="tcp" xsi:type="File" maxArchiveFiles="10"
                    fileName="${basedir}/Logs/TcpServer/${shortdate}.txt"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <!--主程序-->
    <target name="client" xsi:type="File" maxArchiveFiles="10"
                    fileName="${basedir}/Logs/Program/${shortdate}.txt"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <!--<logger name="*.ServerManager" minlevel="Error" writeTo="tcp" />-->
    <logger name="*" minlevel="Error" writeTo="client" />
  </rules>
</nlog>

